.board {
  padding: 24px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;

  .board-title {
    display: flex;
    gap: 6px;
  }

  .board-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
